<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title> Guia do Aluno v3.1</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-tabs>
<ion-tab-bar slot="bottom">
  
<ion-tab-button tab="noticias">
  <ion-icon src="assets/icon/icone_noticias_cor.svg"></ion-icon>
  <ion-label>Notícias</ion-label>
</ion-tab-button>

<ion-tab-button tab="editais">
  <ion-icon src="assets/icon/icone_editais_cor.svg"></ion-icon>
  <ion-label>Editais</ion-label>
</ion-tab-button>

<ion-tab-button tab="eventos">
  <ion-icon src="assets/icon/icone_eventos_cor.svg"></ion-icon>
  <ion-label>Eventos</ion-label>
</ion-tab-button>

<ion-tab-button tab="cardapio">
  <ion-icon src="assets/icon/icone_cardapios_cor.svg"></ion-icon>
  <ion-label>Cardápios</ion-label>
</ion-tab-button>

</ion-tab-bar>
</ion-tabs>
</ion-content>