

ion-tabs {
    margin-top: 56px; // adjust based upon your needs, this is the material toolbar height i think
    max-height: calc(100vh - 56px); //reduce max height of tab views to adjust for the margin
}