ion-menu {
    .item-inner {
      margin-left: 24px !important;
    }
  }

  //definindo tamanho para slides: altura automática e largura máxima sufuciente para web e smartphones.
  ion-slides.slides {
    height: auto;
    width: 100%;
  }

  ion-slides{
    --bullet-background: rgba(var(--pampa-rgb), .3);
    --bullet-background-active: rgba(var(--pampa-rgb), .8);
  }

