<ion-app>
  <ion-split-pane>
            <ion-menu>
              <ion-header>
                <ion-toolbar color="primary">
                    <img src="assets/imgs/logo-vert-negativo.png"/>
                </ion-toolbar>
              </ion-header>
              <ion-content>
                <ion-list>
                    <ion-list-header >Categorias:</ion-list-header>
                  <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
                    <ion-item [routerDirection]="'forward'" [routerLink]="[p.url]">
                      <ion-icon slot="start" src="{{p.icone}}"></ion-icon>
                      <ion-label>
                        {{p.titulo}}
                      </ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                </ion-list>
              </ion-content>
            </ion-menu>
          
<ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
</ion-app>
