<ion-header>
  <ion-toolbar>
    <ion-title>Assistencia Estudantil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card >
        <ion-card-header><b>{{retornos?.content[0].value}}</b></ion-card-header>
        
          <p>{{retornos?.content[1].value}}</p>
          <ion-list>
              <ion-item>Editais PRAEC</ion-item>
              <ion-item [routerDirection]="'forward'" [routerLink]="['/concorrer-beneficios']">{{retornos?.content[2].value}}</ion-item>
              <ion-item>Editais PRAEC</ion-item>
              <ion-item>Editais PRAEC</ion-item>
              <ion-item>Editais PRAEC</ion-item>
              <ion-item>Editais PRAEC</ion-item>
            
            </ion-list>
        <!-- <p *ngFor="let strings of (retornos?.content)">
          <ion-label>
            {{strings.value}}
          </ion-label>
        </p> -->
      </ion-card>
</ion-content>
